.main{padding-top: 60px;}
.side-bar{}
.codehilite pre {color: #6ab825 !important; background-color: #272822 !important;}
.article-block{margin: 20px 0; border-bottom: solid 1px #cccccc;}

a,a:hover,a:active,a:visited{
    text-decoration: none;
    color:#337ab7;
    font-weight: bold;
}

a.post-category:hover,a.post-category:active,a.post-category:visited{
    text-decoration: none;
    color: #FFFFFF;
}
.post-meta {}
.post-meta label{
    margin-right: 1.5em;
}
.post-meta label:last-child{
    margin-right: 0;
}
    .post-time{
        color: #878787;
    }
.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-0 {
        background: #5aba59;
    }
    .post-category-1 {
        background: #4d85d1;
    }
    .post-category-2 {
        background: #8156a7;
    }
    .post-category-3 {
        background: #df2d4f;
    }
    .post-category-4 {
        background: rgb(250, 210, 50);
    }

